
body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;            
    font-size: 2.5em;
    font-weight: 500;
    color: black;
    width: 100%;
}


.wrapper{
    display: block;
    max-width:1080px;
    margin: 10px auto;
}

.header{
    display:grid;
    margin: 10px auto;
    background-color: rgba(0, 0, 0,0.5);
    color: white;
    padding:20px 10px ;
    border-radius: 10px/10px;
    box-shadow: 0 0 15px #d2a84c;
    grid-template-areas: 
    " ti ti ti ti im im "
    " cn cn cn .  im im "
    " cn cn cn .  im im ";
   grid-template-columns: 1fr 1fr  1fr 1fr  1fr 1fr ;
}

img.avatar{
    max-width: 190px;
    height: auto;
    box-shadow:0 0 25px  rgba(255, 255, 255,0.2);
    border-radius: 10px/10px;
    margin: 20px ;
}

.header table td{
    color: #d2a84c;
    text-transform:uppercase;
   height:  30px;

}

table td a{
    margin: 15px;
    padding: 15px;
    text-transform:uppercase;
    color: #d2a84c;
}

.header table a{
    padding: 15px;
    color: rgba(255, 255, 255,0.7);
    text-transform: lowercase;
}

table td{
    padding: 5px;
}

.header .ava__container,
.header .table__container,
.header .title__container{
    padding:10px ;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.header .ava__container{
    grid-area:im ;
    
}

.header .table__container{
    grid-area:cn ;
}

.header .title__container{
    grid-area:ti ;
}

h1.title{
    color: #d2a84c;
    font-size: 2em;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 15px;
    border-radius: 10px/10px;
    text-shadow:2px 0 5px rgba(255, 255, 255,0.5)  ,
    -2px 0 5px rgba(255, 255, 255,0.4) ;
   
    margin: 0;
}

.title{
    text-align: center;
}

p.sub__title{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0 auto;
    color: rgba(255, 255, 255,0.5);
    text-transform: uppercase;
}

/* .contacts__item img{
    display: block;
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 50%;
} */

.main{
    display: grid;
   grid-template-areas: 
   " ab ab ab ln ln ln "
   " ed ed ed ed ed ed "
   " sk sk sk we we we "
   " sk sk sk in in in "
   ;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
   gap: 10px;
   
}

section{
    padding: 15px;
    margin:15px ;
    border-radius: 10px/10px;
    background-color: rgba(0, 0, 0,0.1);
    box-shadow:inset 0 0 15px rgba(0, 0, 0,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5) ,
    inset 0 0 50px rgba(0, 0, 0,0.1); 
}
.table__container b{
    font-size: 1em;
    width: 50%;
   
    text-transform: uppercase;
    margin:10px;
    text-align: center;
}
.table__container label{
    font-weight: bold;
    font-size: 1em;
    margin:10px;
    
}

::-webkit-progress-value{
    color: rgba(0, 0, 0,1);
}
::-webkit-progress-bar {
    background: grey;
}
::-webkit-progress-value {
    background:#d2a84c;
}
::-moz-progress-bar {
    background:#d2a84c;
}

progress {
    display: block;
    color:#d2a84c;
    background: grey;
    border: 3px solid#d2a84c;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 170px;
    height: 20px;
    font-size:2em;
    font-family: sans-serif;
    text-align: center;
}

tr h4,
tr p,
tr a{
    text-align: center;
}

.about__me{
    grid-area:ab ;
    text-transform: uppercase;
}

.skills{
    grid-area:sk ;
    text-transform: uppercase;
}

.education{
    grid-area:ed ;
}
.education table{
    display: block;
    text-align: center;
}

.education td,
.education tr{
    border-bottom: 15px solid rgba(255, 255, 255,0.2);
   /*  padding: 15px  ;
    margin: 15px; */
    border-radius: 15px/15px;
    border-collapse:collapse ;
    width: 60%;
} 

.work__example{
    grid-area:we ;
}

.language{
    grid-area:ln ;
    text-transform: uppercase;
}

.interests{
    grid-area:in ;
}

.section__heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom:3px solid #d2a84c ;
    text-transform: uppercase;
    padding: 10px 0 ;
    margin: 0 auto;
}

p.section__title,
button.section__button{
    font-size:1.5em;
    font-weight: 500;
    color: #d2a84c;
    margin: 0;
}

.table__container table{
    display: block;
}



.interests__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}

li.interests__item{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.interests__item img{
    width: 75px;
    height: 75px;
    padding: 15px;
    margin: 5px; 
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 20%;
}